/* Updated Service.css */

.services {
  text-align: center;
  padding: 50px 0;
  background-color: #e8f0fe; /* Light blue background color */
  font-family: 'Montserrat', sans-serif; /* Changed font to Montserrat */
}

.services-title {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #1a237e; /* Dark blue color for the title */
  font-weight: 700; /* Bold font weight for the title */
}

.services-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.service-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 300px;
  text-align: center;
  margin: 10px;
  transition: transform 0.3s, box-shadow 0.3s; /* Add transition for smooth effect */
}

.service-card:hover {
  transform: translateY(-10px); /* Lift card on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Darker shadow on hover */
}

.service-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  margin-bottom: 20px;
}

.service-card h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #3949ab; /* Blue color for headings */
  font-weight: 600; /* Semi-bold font weight for headings */
}

.service-card p {
  font-size: 1em;
  color: #546e7a; /* Gray-blue color for paragraph text */
  margin-bottom: 20px;
  line-height: 1.6; /* Increased line height for better readability */
}

.more-button {
  background-color: #1a237e; /* Dark blue color for button */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s, transform 0.3s; /* Add transition for smooth effect */
}

.more-button:hover {
  background-color: #303f9f; /* Slightly darker blue on hover */
  transform: scale(1.05); /* Slightly enlarge button on hover */
}
